<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.egg.dao.BillDetailsMapper">
    <select id="getbilldetsils"  resultType="com.zero.egg.model.BillDetails">
        select b.name as goodsCategoryName,a.*,d.mode,bu.name as createname,
        case when IFNULL(a.specification_id ,'')='' then CONCAT(c.name,' ','常规') else  CONCAT(c.name,'(','实重',d.weight_min,'~',d.weight_max,')') end as programName,
        CASE
	      WHEN d.`mode`='1' THEN
		    d.weight_name
	      ELSE
		    d.marker
        END AS marker
        from bd_bill_details a
        left join bd_category b on b.id=a.goods_category_id
        left join bd_specification_program c on c.id=a.program_id
        left join bd_specification d on d.id=a.specification_id
        left join  bd_user  bu  on bu.id=a.creator
        where  a.bill_id=#{id,jdbcType=INTEGER} ORDER BY b.name
    </select>
    <update id="updateDetails" parameterType="BillDetails">update bd_bill_details
        <set>
            <if test="numberical!= null and numberical!=''">numberical= #{numberical},</if>
            <if test="currentMode!= null and currentMode!=''">current_mode= #{currentMode},</if>
            <if test="price!= null and price!=''">price= #{price,jdbcType=VARCHAR},</if>
            <if test="amount!= null and amount!=''">amount= #{amount,jdbcType=VARCHAR},</if>
        </set>where id= #{id,jdbcType=VARCHAR}
    </update>


</mapper>
