<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.egg.dao.CustomerMapper">
    <insert id="AddCustomer" parameterType="Customer">insert into bd_customer(id,code,name,short_name,type,phone,linkman,status,remark,shop_id,creator,createtime,company_id,modifier,modifytime)
    values(REPLACE(UUID(),'-',''),(select a.spcode from(SELECT CONCAT('CT',LPAD((SELECT COUNT(1)+1 from bd_customer),4,'0')) as spcode FROM DUAL) a),#{name},#{shortname},#{type},#{phone},#{linkman},
           #{status},#{remark},#{shopid},#{creator},#{createtime},#{companyid},#{modifier},#{modifytime})</insert>
    <update id="UpdateCustomer" parameterType="Customer">update bd_customer
    <set>
        <if test="name!= null and name!=''">name= #{name,jdbcType=VARCHAR},</if>
        <if test="shortname!= null and shortname!=''">short_name= #{shortname,jdbcType=VARCHAR},</if>
        <if test="type!= null and type!=''">type= #{type,jdbcType=VARCHAR},</if>
        <if test="linkman!= null and linkman!=''">linkman= #{linkman,jdbcType=VARCHAR},</if>
        <if test="remark!= null and remark!=''">remark= #{remark,jdbcType=VARCHAR},</if>
        <if test="phone!= null and phone!=''">phone= #{phone,jdbcType=VARCHAR},</if>
        <if test="status!= null and status !=''">status= #{status,jdbcType=VARCHAR},</if>
        <if test="modifier!= null and modifier!=''">modifier= #{modifier,jdbcType=VARCHAR},</if>
        <if test="modifytime!= null">modifytime= #{modifytime,jdbcType=DATE},</if>
    </set>where id= #{id,jdbcType=VARCHAR} and shop_id= #{shopid,jdbcType=VARCHAR}</update>

    <update id="DeleteCustomer" parameterType="java.util.List">
        <if test="list!=null">
            <foreach collection="list" item="id" index= "index" open="" close="" separator =";">
                update bd_customer
                <set>
                    dr=0
                </set>
                <where>
                    id=#{id}
                </where>
            </foreach>
        </if>
    </update>
    <select id="GetCustomerList" parameterType="Customer" resultType="com.zero.egg.model.Customer">
    		select * from bd_customer k <where>
            <if test="id != null and id !=''">
                k.id=#{id,jdbcType=VARCHAR}
            </if>
            <if test="code != null and code !=''">
                k.code=#{code,jdbcType=VARCHAR}
            </if>
            <if test="type != null and type !=''">
                and k.type=#{type,jdbcType=VARCHAR}
            </if>
            <if test="shortname != null and shortname !=''">
                and k.short_name LIKE '%${shortname}%'
            </if>
            <if test="companyid != null and companyid !=''">
                and k.company_id=#{companyid,jdbcType=VARCHAR}
            </if>
            <if test="shopid != null and shopid !=''">
                and k.shop_id=#{shopid,jdbcType=VARCHAR}
            </if>
            <if test="status != null and status !='-1' and status !=''">
                and k.status=#{status,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <select id="GetCitys" parameterType="city" resultType="city">
        select * from bd_citys k <where>
        <if test="parentId != null and parentId !=''">
            k.ParentId=#{parentId,jdbcType=VARCHAR}
        </if>
         </where>
    </select>
</mapper>