<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zero.egg.dao.EmployeeMapper">
    <select id="getEmployee" parameterType="com.zero.egg.requestDTO.EmployeeRequestDTO" resultType="com.zero.egg.model.Employee">SELECT * FROM SYS_EmpLoyee_Data k left join SYS_User_Info b on k.strUserCode=b.strUserCode<where>
            <if test="QueryCode != null and QueryCode !=''">
                k.strUserCode=#{QueryCode,jdbcType=VARCHAR}
            </if>
            <if test="QueryStoreCode != null and QueryStoreCode !=''">
                and k.strStoreCode=#{QueryStoreCode,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <update id="UpdateEmployee" parameterType="EmployeeQuery">
        update SYS_EmpLoyee_Data
        <set>
            <if test="QueryLngState != null">
                LngState = #{QueryLngState,jdbcType=INTEGER},
            </if>
        </set>
        where strUserCode = #{QueryCode,jdbcType=VARCHAR}
    </update>
</mapper>