<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zero.egg.dao.EmployeeMapper">
    <select id="getEmployee" parameterType="com.zero.egg.requestDTO.EmployeeRequestDTO" resultType="com.zero.egg.model.Employee">SELECT * FROM sys_employee_data k left join sys_user_info b on k.strusercode=b.strusercode<where>
            <if test="QueryCode != null and QueryCode !=''">
                k.strusercode=#{QueryCode,jdbcType=VARCHAR}
            </if>
            <if test="QueryStoreCode != null and QueryStoreCode !=''">
                and k.strstorecode=#{QueryStoreCode,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <update id="UpdateEmployee" parameterType="com.zero.egg.requestDTO.EmployeeRequestDTO">
        update sys_employee_data
        <set>
            <if test="QueryLngState != null">
                lngstate = #{QueryLngState,jdbcType=INTEGER},
            </if>
        </set>
        where strusercode = #{QueryCode,jdbcType=VARCHAR}
    </update>
</mapper>