<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.egg.dao.OrderBillMapper">
    <resultMap id="BaseResultMap" type="com.zero.egg.model.OrderBill">
        <!--@mbg.generated-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="company_id" jdbcType="VARCHAR" property="companyId"/>
        <result column="shop_id" jdbcType="VARCHAR" property="shopId"/>
        <result column="shop_name" jdbcType="VARCHAR" property="shopName"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="order_sn" jdbcType="VARCHAR" property="orderSn"/>
        <result column="order_status" jdbcType="SMALLINT" property="orderStatus"/>
        <result column="address_id" jdbcType="VARCHAR" property="addressId"/>
        <result column="consignee" jdbcType="VARCHAR" property="consignee"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="message" jdbcType="VARCHAR" property="message"/>
        <result column="total_price" jdbcType="DECIMAL" property="totalPrice"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="modifytime" jdbcType="TIMESTAMP" property="modifytime"/>
        <result column="dr" jdbcType="BOOLEAN" property="dr"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        oo.id, oo.company_id, oo.shop_id,oo.shop_name, oo.user_id, oo.order_sn, oo.order_status, oo.address_id, oo.consignee,
        oo.mobile, oo.address, oo.message, oo.total_price, oo.end_time, oo.creator, oo.createtime, oo.modifier, oo.modifytime,
        oo.dr
    </sql>
    <select id="selectBillList" resultType="com.zero.egg.responseDTO.OrderBillListResponseDTO">
        SELECT <include refid="Base_Column_List"/>,oc.pic_url AS pics FROM order_order oo
        LEFT JOIN order_order_detail ood ON oo.id = ood.order_id
        LEFT JOIN order_cart oc ON oc.id = ood.cart_id
        ${ew.customSqlSegment} ORDER BY  FIND_IN_SET(oo.order_status,'0,1,-1'),oo.createtime DESC
    </select>
</mapper>
