<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.egg.dao.OrderBillMapper">
    <resultMap id="BaseResultMap" type="com.zero.egg.model.OrderBill">
        <!--@mbg.generated-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="company_id" jdbcType="VARCHAR" property="companyId"/>
        <result column="shop_id" jdbcType="VARCHAR" property="shopId"/>
        <result column="shop_name" jdbcType="VARCHAR" property="shopName"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="order_sn" jdbcType="VARCHAR" property="orderSn"/>
        <result column="order_status" jdbcType="SMALLINT" property="orderStatus"/>
        <result column="address_id" jdbcType="VARCHAR" property="addressId"/>
        <result column="consignee" jdbcType="VARCHAR" property="consignee"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="message" jdbcType="VARCHAR" property="message"/>
        <result column="total_price" jdbcType="DECIMAL" property="totalPrice"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="modifytime" jdbcType="TIMESTAMP" property="modifytime"/>
        <result column="dr" jdbcType="BOOLEAN" property="dr"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        oo.id, oo.company_id, oo.shop_id,oo.shop_name, oo.user_id, oo.order_sn, oo.order_status, oo.address_id,
        oo.consignee,
        oo.mobile, oo.address, oo.message, oo.total_price, oo.end_time, oo.creator, oo.createtime, oo.modifier,
        oo.modifytime,
        oo.dr
    </sql>
    <select id="selectBillList" resultType="com.zero.egg.responseDTO.OrderBillListResponseDTO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM order_order oo
        ${ew.customSqlSegment} ORDER BY FIND_IN_SET(oo.order_status,'0,1,-1'),oo.createtime DESC
    </select>

    <select id="selectBillListPics" resultType="string">
        SELECT oc.pic_url FROM order_order oo
        LEFT JOIN order_order_detail ood ON oo.id = ood.order_id
        LEFT JOIN order_cart oc ON oc.id = ood.cart_id
        WHERE oo.user_id = #{userId} AND oo.id = #{orderId}
    </select>


    <select id="queryshoporder" resultType="OrderBill">
        SELECT  a.order_status,a.createtime,a.address,a.id,a.mobile,a.order_sn ,d.name AS customerName,
        a.message,a.consignee,a.accept_status,a.user_id
        FROM order_order a
         left join  order_user_secret  c on c.user_id=a.user_id
         left join  order_secret e on e.id=c.secret_id
         left join bd_customer d on d.id=e.customer_id
         WHERE  a.dr=0
        <if test="shopId != null and shopId !=''">
            and a.shop_id=#{shopId,jdbcType=VARCHAR}
        </if>
        <if test="companyId != null and companyId !=''">
            and a.company_id=#{companyId,jdbcType=VARCHAR}
        </if>
        <if test="isstaff != null and isstaff !='' and isstaff=='true' ">
            and a.order_status not in ('1','4')
        </if>
        <if test="orderstatus != null and orderstatus !=''">
            and a.order_status=#{orderstatus,jdbcType=VARCHAR}
        </if>
        <if test="orderSn != null and orderSn !=''">
            and a.order_sn LIKE '%${orderSn}%'
        </if>
    </select>


    <select id="GetOrderGoodDelList" resultType="OrderBillDetail">
        select * from order_order_detail  m
        left join order_cart d on m.cart_id=d.id
        where m.order_id=#{id}
        and m.dr=0
    </select>




    <resultMap id="GetBillDetailMap" type="com.zero.egg.responseDTO.OrderBillDetailResponseDTO">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="company_id" jdbcType="VARCHAR" property="companyId"/>
        <result column="shop_id" jdbcType="VARCHAR" property="shopId"/>
        <result column="shop_name" jdbcType="VARCHAR" property="shopName"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="order_sn" jdbcType="VARCHAR" property="orderSn"/>
        <result column="order_status" jdbcType="SMALLINT" property="orderStatus"/>
        <result column="address_id" jdbcType="VARCHAR" property="addressId"/>
        <result column="consignee" jdbcType="VARCHAR" property="consignee"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="message" jdbcType="VARCHAR" property="message"/>
        <result column="total_price" jdbcType="DECIMAL" property="totalPrice"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="modifytime" jdbcType="TIMESTAMP" property="modifytime"/>
        <result column="dr" jdbcType="BOOLEAN" property="dr"/>
        <collection property="orderBillDetailList" ofType="com.zero.egg.model.OrderBillDetail">
            <id column="did" property="id"/>
            <result column="dorder_id" property="orderId"/>
            <result column="dcompany_id" property="companyId"/>
            <result column="dshop_id" property="shopId"/>
            <result column="dcart_id" property="cartId"/>
            <result column="dorder_category_id" property="orderCategoryId"/>
            <result column="dorder_category_name" property="orderCategoryName"/>
            <result column="dspecification_id" property="specificationId"/>
            <result column="dspecification_name" property="specificationName"/>
            <result column="dspecification_value" property="specificationValue"/>
            <result column="dgoods_price" property="goodsPrice"/>
            <result column="dquantity" property="quantity"/>
            <result column="dsubtotal" property="subtotal"/>
            <result column="dcreatetime" property="createtime"/>
            <result column="dmodifytime" property="modifytime"/>
            <result column="weightMode" property="weightMode"/>
            <result column="ddr" property="dr"/>
            <result column="pic_url" property="picUrl"/>
        </collection>
    </resultMap>

    <sql id="Detail_Sql">
      ood.id AS did, order_id AS dorder_id, ood.company_id AS dcompany_id, ood.shop_id AS dshop_id, ood.cart_id AS dcart_id,
      ood.order_category_id AS dorder_category_id, ood.order_category_name AS dorder_category_name, ood.specification_id AS dspecification_id,
      ood.specification_name AS dspecification_name, ood.specification_value AS dspecification_value, ood.goods_price AS dgoods_price,
      ood.quantity AS dquantity, ood.subtotal AS dsubtotal, ood.createtime AS dcreatetime, ood.modifytime AS dmodifytime ,ood.dr AS ddr
    </sql>

    <select id="getOrderBillDetail" resultMap="GetBillDetailMap">
        SELECT <include refid="Base_Column_List"/>, <include refid="Detail_Sql"/>,oc.weight_mode AS weightMode,ogs.pic_url FROM order_order oo
        LEFT JOIN order_order_detail ood ON oo.id = ood.order_id
        LEFT JOIN order_cart oc ON oc.id = ood.cart_id
        LEFT JOIN order_goods_specification ogs ON  ogs.id = ood.specification_id
        WHERE oo.id = #{orderId} AND oo.user_id = #{userId} AND oo.dr = false
    </select>

</mapper>
