<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.egg.dao.OrderSecretMapper">
  <resultMap id="BaseResultMap" type="com.zero.egg.model.OrderSecret">
    <!--@mbg.generated-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="company_id" jdbcType="VARCHAR" property="companyid" />
    <result column="shop_id" jdbcType="VARCHAR" property="shopid" />
    <result column="secret_key" jdbcType="VARCHAR" property="secretKey" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modifytime" jdbcType="TIMESTAMP" property="modifytime" />
    <result column="dr" jdbcType="BOOLEAN" property="dr" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, company_id, shop_id, secret_key, creator, createtime, modifier, modifytime, dr
  </sql>
  <select id="getCountOfShopBind" resultType="java.lang.Integer">
    SELECT count(1)
    FROM
        bd_wechat_auth wa
        INNER JOIN order_user_secret ous ON wa.wechat_auth_id = ous.user_id
        INNER JOIN order_secret os ON os.id = ous.secret_id
     WHERE
        ous.dr = 0
        AND os.dr = 0
        AND os.status = 1
        AND os.shop_id = #{shopId,jdbcType=VARCHAR}
        AND wa.wechat_auth_id = #{userId,jdbcType=VARCHAR}
  </select>
</mapper>
