<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zero.egg.dao.OrderGoodsMapper">

    <resultMap id="BaseResultMap" type="com.zero.egg.model.OrderGoods">
        <id column="id" property="id"/>
        <result column="shop_id" property="shopId"/>
        <result column="company_id" property="companyId"/>
        <result column="goods_sn" property="goodsSn"/>
        <result column="name" property="name"/>
        <result column="category_id" property="categoryId"/>
        <result column="gallery" property="gallery"/>
        <result column="keywords" property="keywords"/>
        <result column="brief" property="brief"/>
        <result column="is_on_sale" property="isOnSale"/>
        <result column="sort_order" property="sortOrder"/>
        <result column="pic_url" property="picUrl"/>
        <result column="detail" property="detail"/>
        <result column="createtime" property="createtime"/>
        <result column="modifytime" property="modifytime"/>
        <result column="dr" property="dr"/>
        <collection property="sepcificationList" javaType="list" ofType="com.zero.egg.model.OrderGoodsSpecification">
            <id column="oid" property="id"/>
            <result column="goods_id" property="goodsId"/>
            <result column="specification" property="specification"/>
            <result column="value" property="value"/>
            <result column="pic" property="pic"/>
            <result column="modifier" property="modifier"/>
            <result column="creator" property="creator"/>
            <result column="createtime" property="createtime"/>
            <result column="modifytime" property="modifytime"/>
            <result column="dr" property="dr"/>
        </collection>
    </resultMap>

    <select id="getAllByShopId" resultMap="BaseResultMap">
        SELECT og.id,og.shop_id,og.company_id,og.goods_sn,og.name,og.category_id,og.gallery,
         og.keywords,og.brief,og.is_on_sale,og.sort_order,og.pic_url,og.detail,og.createtime,og.id,
         og.modifytime,og.dr,ogs.id AS oid,ogs.goods_id,ogs.specification,ogs.specification,ogs.value,
         ogs.pic_url AS pic,ogs.modifier,ogs.creator,ogs.createtime,ogs.modifytime,ogs.dr
        FROM order_goods og
        LEFT JOIN order_goods_specification ogs ON og.id = ogs.goods_id
        WHERE og.shop_id = #{shopId}
        <if test="name != null and name != ''">
            AND og.name LIKE CONCAT('%',#{name,jdbcType=VARCHAR},'%')
        </if>
       AND og.dr = 0 AND ogs.dr = 0 AND og.is_on_sale = 1
    </select>
    <select id="getAllByShopIdAndCategoryId" resultMap="BaseResultMap">
        SELECT og.id,og.shop_id,og.company_id,og.goods_sn,og.name,og.category_id,og.gallery,
        og.keywords,og.brief,og.is_on_sale,og.sort_order,og.pic_url,og.detail,og.createtime,og.id,
        og.modifytime,og.dr,ogs.id AS oid,ogs.goods_id,ogs.specification,ogs.specification,ogs.value,
        ogs.pic_url AS pic,ogs.modifier,ogs.creator,ogs.createtime,ogs.modifytime,ogs.dr
        FROM order_goods og
        LEFT JOIN order_goods_specification ogs ON og.id = ogs.goods_id
        WHERE og.shop_id = #{shopId}
        <if test="name != null and name != ''">
            AND og.name LIKE CONCAT('%',#{name,jdbcType=VARCHAR},'%')
        </if>
        AND og.category_id = #{categoryId}
        AND og.dr = 0
        AND ogs.dr = 0
        AND og.is_on_sale = 1
    </select>
</mapper>
