<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.egg.dao.RoleResourceMapper">
    <resultMap id="BaseResultMap" type="com.zero.egg.model.RoleResource">
        <!--@mbg.generated-->
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="role_id" jdbcType="VARCHAR" property="roleId" />
        <result column="resource_id" jdbcType="VARCHAR" property="resourceId" />
        <result column="creator" jdbcType="VARCHAR" property="creator" />
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
        <result column="modifier" jdbcType="VARCHAR" property="modifier" />
        <result column="modifytime" jdbcType="TIMESTAMP" property="modifytime" />
        <result column="dr" jdbcType="BIT" property="dr" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, role_id, resource_id, creator, createtime, modifier, modifytime, dr
    </sql>
</mapper>