<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.egg.dao.SassUserMapper">
  <resultMap id="BaseResultMap" type="com.zero.egg.model.SassUser">
    <!--@mbg.generated-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="loginname" jdbcType="VARCHAR" property="loginname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, loginname, `password`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sass_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from sass_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zero.egg.model.SassUser">
    <selectKey order="BEFORE" keyProperty="id" resultType="java.lang.String">
      SELECT REPLACE(UUID(),"-","")
    </selectKey>
    insert into sass_user (id,loginname, `password`)
    values (#{id,jdbcType=VARCHAR}  ,#{loginname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zero.egg.model.SassUser">
    <!--@mbg.generated-->
    insert into sass_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="loginname != null">
        loginname,
      </if>
      <if test="password != null">
        `password`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="loginname != null">
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zero.egg.model.SassUser">
    <!--@mbg.generated-->
    update sass_user
    <set>
      <if test="loginname != null">
        loginname = #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zero.egg.model.SassUser">
    <!--@mbg.generated-->
    update sass_user
    set loginname = #{loginname,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-07-21-->
  <select id="findOneByLoginnameAndPassword" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sass_user
    where loginname=#{loginname,jdbcType=VARCHAR} and `password`=#{password,jdbcType=VARCHAR}
  </select>


</mapper>