<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.egg.dao.ShopMapper">

    <select id="getShopListByCompanid"  resultType="com.zero.egg.model.Shop">
        select  a.*,lv1.id as city1,lv2.id as city2 from bd_shop  a
        left join bd_city   lv3  on lv3.id=a.city_id
        left join bd_city   lv2  on lv2.id=lv3.parent_id
        left join bd_city   lv1  on lv1.id=lv2.parent_id
        where a.company_id= #{companyId,jdbcType=VARCHAR}
        and a.dr = false
    </select>

    <select id="getClietnUseCountByShopid"  resultType="int">
       select count(*) from bd_user a  where
       a.shop_id= #{shopId,jdbcType=VARCHAR}  and a.type= #{type,jdbcType=INTEGER} and a.dr=0
    </select>

    <insert id="addsecret" parameterType="OrderSecret">
     insert into order_secret(id,company_id,shop_id,secret_key,creator,createtime,modifier,modifytime,dr)
     values(REPLACE(UUID(),'-',''),#{companyid},#{shopid},#{secretKey},#{creator},#{createtime},#{modifier},#{modifytime},#{dr})
     </insert>


    <select id="GetShopSecret"  resultType="com.zero.egg.model.OrderSecret">
        select k.*,b.createtime as bindtime,c.name,c.phone,c.type,c.status from  order_secret k
        left join order_user_secret  b  on k.id=b.secret_id
        left join order_user c  on  c.id=b.user_id
        where  1=1
        <if test="code != null and code !=''">
            k.shop_id=#{code,jdbcType=VARCHAR}
        </if>
        <if test="dr != null and dr !=''">
            k.dr=#{dr,jdbcType=VARCHAR}
        </if>
    </select>

    <insert id="addordercategory" parameterType="OrderCategory">
        insert into order_category(id,company_id,shop_id,name,pid,createtime,level,sort_order,icon_url,pic_url,modifytime,dr)
        values(#{id},#{companyid},#{shopid},#{name},#{pid},#{createtime},#{level},#{sortOrder},#{iconUrl},#{picUrl},#{modifytime},#{dr})
    </insert>

    <update id="editrdercategory" parameterType="OrderCategory">update order_category
        <set>
            <if test="name!= null and name!=''">name= #{name,jdbcType=VARCHAR},</if>
            <if test="iconUrl!= null">icon_url= #{iconUrl,jdbcType=VARCHAR},</if>
            <if test="picUrl!= null">pic_url= #{picUrl,jdbcType=VARCHAR},</if>
            <if test="modifytime!= null">modifytime= #{modifytime,jdbcType=DATE},</if>
            <if test="dr!= null">dr= #{dr,jdbcType=VARCHAR}</if>
        </set>where id= #{id,jdbcType=VARCHAR} and shop_id= #{shopid,jdbcType=VARCHAR}</update>

</mapper>
