<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zero.egg.dao.SystemMapper">
    <select id="checklogin"  resultType="LoginInfo" parameterType="String">
        SELECT strstorecode,strstorename,strstoreaddress,strstorephone,a.strusercode,strUserName,strUserSex FROM sys_userstroes_info a
        left join sys_user_info b on a.strusercode=b.strUserCode
        WHERE trim(a.strpassname)=#{strUserName,jdbcType=VARCHAR} and  trim(a.strpassword)=#{passWord,jdbcType=VARCHAR} and b.LngIsBoss=1
    </select>

    <select id="Mobilelogin"  resultType="com.zero.egg.responseDTO.EmployeeLoginResponseDTO" parameterType="String">
        select a.strUserSex,a.strUserPhone,a.strUserName,a.strPassWord,b.strstorecode,b.strentrytime,b.strprofession,
               c.strstorename,c.strstoreaddress,d.validity_data as validitydata,a.strUserCode
        from sys_user_info a
                 left join sys_employee_data b on a.strUserCode=b.strusercode
                 left join sys_userstroes_info c on c.strstorecode=b.strstorecode
                 inner join sys_certificate_data d on d.active_usercode=a.strUserCode
          where d.validity_data>=curdate()
          and trim(a.strUserPhone)=#{strPassName,jdbcType=VARCHAR} and  trim(a.strPassWord)=#{strPassword,jdbcType=VARCHAR}
    </select>
</mapper>