<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zero.egg.dao.SystemMapper">
    <select id="checklogin"  resultType="LoginInfo" parameterType="String">
        SELECT strstorecode,strstorename,strstoreaddress,strstorephone,a.strusercode,strUserName,strUserSex FROM sys_userstroes_info a
        left join sys_user_info b on a.strusercode=b.strUserCode
        WHERE trim(a.strpassname)=#{strUserName,jdbcType=VARCHAR} and  trim(a.strpassword)=#{passWord,jdbcType=VARCHAR} and b.LngIsBoss=1
    </select>
</mapper>