<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.egg.dao.UnloadGoodsMapper">
    <insert id="AddUnloadDetl" parameterType="UnloadGoods">
    insert into bd_unload_goods(id,shop_id,company_id,supplier_id,program_id,task_id,goods_category_id,goods_no,marker,mode,weight,warn,remark,creator,createtime,modifier,modifytime,dr)
    values(REPLACE(UUID(),'-',''),#{shopId},#{companyId},#{supplierId},#{programId},#{taskId},#{goodsCategoryId},
    #{goodsNo},#{marker},#{mode},#{weight},#{warn},#{remark},#{creator},#{createtime},#{modifier},#{modifytime},0)
    </insert>
    <select id="CheckWeight"  resultType="com.zero.egg.responseDTO.UnLoadResponseDto">
        SELECT IFNULL(k.numerical,0) as numerical ,k.marker FROM bd_specification  k
        where k.program_id=#{programId}  and k.weight_min <![CDATA[ <= ]]> #{weight}  and k.weight_max <![CDATA[ > ]]> #{weight}
    </select>
    <select id="QueryUnloadGood"  resultType="com.zero.egg.responseDTO.UnLoadGoodsQueryResponseDto">
        select b.name,a.marker,a.supplier_id,a.task_id,b.id,sum(1) as sumVal from  bd_unload_goods  a
        left join  bd_category  b  on  a.goods_category_id=b.id
        where  a.task_id=#{taskId}
        GROUP BY  a.task_id,b.id,a.marker,a.supplier_id
    </select>
    <select id="QueryUnloadGoodForDay"  resultType="com.zero.egg.responseDTO.UnLoadGoodsQueryResponseDto">
        select b.name,a.shop_id,b.id,sum(1) as sumVal from  bd_unload_goods  a
        left join  bd_category  b  on  a.goods_category_id=b.id
        where  a.shop_id=#{shopId}   and  left(a.createtime,10)=#{unloadTime}
        GROUP BY  a.shop_id,b.id
    </select>

    <select id="GetTaskUnloadCount"  resultType="int">
        select sum(1) as sumVal from  bd_unload_goods  a
        where  a.task_id=#{taskId}
    </select>
</mapper>
