<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.zero.egg.dao.WarehouseMapper">
	<!-- 根据id查询仓库信息 -->
    <select id="getWarehouseInfoById" parameterType="String" resultType="Warehouse">
         SELECT * FROM SYS_Warehouse_Data WHERE warehouse_id=#{warehouseId}
    </select>
    
    <!-- 查询仓库信息列表 -->
    <select id="warehouseList"  resultType="Warehouse">
         SELECT * FROM SYS_Warehouse_Data 
         where 1=1 
         <if test="warehouseCode !=null and warehouseCode !=''">
         	and	warehouse_code = #{warehouseCode}
         </if>
         <if test="warehouseName !=null and warehouseName !=''">
         	and	warehouse_name = #{warehouse_name}
         </if>
         <if test="storeId !=null and storeId !=''">
         	and	store_id = #{storeId}
         </if>
         <if test="lngState !=null and lngState !=''">
         	and	lng_state = #{lngState}
         </if>
         <if test="createdate !=null and createdate !=''">
         	and	createdate = #{createdate}
         </if>
         <if test="creater !=null and creater !=''">
         	and	creater = #{creater}
         </if>
         <if test="searchValue !=null and searchValue !=''">
         and(
         		warehouse_name LIKE CONCAT(CONCAT('%',#{searchValue}),'%')
         		
       		)
         </if>
    </select>
    
    <!-- 新增仓库 -->
    <insert id="addWarehouse" parameterType="com.zero.egg.model.Warehouse" >
     	insert into SYS_Warehouse_Data 
     	(warehouse_id,warehouse_code,warehouse_name,store_id,strdesc,lng_state) 
     	value
     	(#{warehouseId},#{warehouseCode},#{warehouseName},#{storeId},#{strdesc},#{lngState})
    </insert>
    
    <!-- 修改仓库 -->
    <update id="updateWarehouse" parameterType="com.zero.egg.model.Warehouse">
    	update SYS_Warehouse_Data
    	set
    	<if test="warehouse_code !=null and warehouse_code !=''">
    	warehouse_code=#{warehouseCode},
    	</if>
    	<if test="warehouse_name !=null and warehouse_name !=''">
    	warehouse_name=#{warehouseName},
    	</if>
    	<if test="store_id !=null and store_id !=''">
    	store_id=#{storeId},
    	</if>
    	<if test="strdesc !=null and strdesc !=''">
    	strdesc=#{strdesc},
    	</if>
    	<if test="lng_state !=null and lng_state !=''">
    	lng_state=#{lngState}
    	</if>
    	where warehouse_id=#{warehouseId}
    </update>
    
</mapper>