<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zero.egg.dao.WechatAuthMapper">
    <update id="cancelBind">
        UPDATE bd_wechat_auth SET user_id=NULL , type = NULL , modifytime = NOW() WHERE openid =
        #{openId,jdbcType=VARCHAR}
    </update>
</mapper>
