<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.zero.egg.dao.WhGoodsMapper">

	<resultMap type="com.zero.egg.model.WhGoods" id="goodsListMap">
	<id column="goods_id" jdbcType="VARCHAR" property="goodsId"/>
	<result column="stand_id" jdbcType="VARCHAR" property="standId"/>
	<result column="warehouse_id" jdbcType="VARCHAR" property="warehouseId"/>
	<result column="strreal_weight" jdbcType="DECIMAL" property="strrealWeight"/>
	<result column="lng_state" jdbcType="INTEGER" property="lngState"/>
	<result column="indate" jdbcType="DATE" property="indate"/>
	<result column="resource_saler" jdbcType="VARCHAR" property="resourceSaler"/>
	<association property="warehouse" column="warehouse_id" javaType="Warehouse" resultMap="warehouseResultMap"/>
	<association property="standardDetl" column="id" javaType="StandardDetl" resultMap="standardDetlMap"/>  
	<association property="standardData" column="str_stand_code" javaType="StandardDetl" resultMap="standardDataMap"/>  
	<association property="eggType" column="str_eggtype_code" javaType="StandardDetl" resultMap="eggTypeMap"/>  
	</resultMap>
	<!-- 仓库Map -->
	<resultMap id="warehouseResultMap" type="Warehouse">  
	    <id property="warehouseId" column="warehouse_id"/>  
	    <result property="warehouseName" column="warehouse_name"/>  
	</resultMap>  
	<!-- 规格Map -->
	<resultMap id="standardDetlMap" type="StandardDetl">  
	    <id property="id" column="id"/>  
	    <result property="strStanddetlCode" column="str_standdetl_code"/>  
	    <result property="strStandCode" column="str_stand_code"/>  
	    <result property="strWeightMin" column="str_weight_min"/>  
	    <result property="strWeightMax" column="str_weight_max"/>  
	    <result property="strReturnSign" column="str_return_sign"/>  
	    <result property="strModeType" column="str_mode_type"/>  
	    <result property="strStandNum" column="str_stand_num"/>  
	    <result property="lngWarming" column="lng_warming"/>  
	    <result property="lngState" column="lng_state"/>  
	</resultMap> 
	<!-- 方案Map --> 
	<resultMap id="standardDataMap" type="StandardData">  
	    <id property="id" column="id"/>  
	    <result property="strStandCode" column="str_stand_code"/>  
	    <result property="strStandName" column="str_stand_name"/>  
	    <result property="strEggtypeCode" column="str_eggtype_code"/>  
	    <result property="lngState" column="lng_state"/>  
	</resultMap> 
	<!-- 品种Map --> 
	<resultMap id="eggTypeMap" type="EggType">  
	    <id property="id" column="id"/>  
	    <result property="strEggtypeCode" column="str_eggtype_code"/>  
	    <result property="strEggtypeName" column="str_eggtype_name"/>  
	    <result property="strTypeCreatetime" column="str_type_createtime"/>  
	    <result property="strCreateuser" column="str_createuser"/>  
	    <result property="lngState" column="lng_state"/>  
	</resultMap>  


	<!-- 根据id查询商品信息 -->
    <select id="getGoodsInfoById" parameterType="String" resultType="com.zero.egg.model.WhGoods">
         SELECT * FROM warehouse_goods WHERE goods_id=#{goodsId}
    </select>
    
    <!-- 查询商品信息列表 -->
    <select id="GoodsList" parameterType="WhGoods" resultMap="goodsListMap">
         SELECT * FROM warehouse_goods p
         left join warehouse_data w on w.warehouse_id = p.warehouse_id 
         left join sms_standard_detl sdl on p.stand_id = sdl.id
         left join sms_standard_data sda on sdl.str_stand_code = sda.str_stand_code
         left join sms_eggtype_data et on sda.str_eggtype_code = et.str_eggtype_code
         where 1=1 
         <if test="warehouse !=null">
          <if test="warehouse.warehouseId !=null and warehouse.warehouseId !=''">
         and w.warehouse_id = #{warehouse.warehouseId}
         </if>
         </if>
         <if test="StandardData !=null">
          <if test="StandardData.strStandCode !=null and StandardData.strStandCode !=''">
         and sda.str_stand_code = #{StandardData.strStandCode}
         </if>
         </if>
         <if test="eggType !=null">
          <if test="eggType.strEggtypeCode !=null and eggType.strEggtypeCode !=''">
         and et.str_eggtype_code = #{eggType.strEggtypeCode}
         </if>
         </if>
         <if test="searchValue !=null and searchValue !=''">
         and(
         		warehouse_name LIKE CONCAT(CONCAT('%',#{searchValue}),'%')
         		
       		)
         </if>
    </select>
    
    <!-- 查询损坏的商品信息 -->
    <select id="listDamageGoods" parameterType ="DamageGoods"  resultType="com.zero.egg.tool.PageData">
    	select * from warehouse_goods g
    	left join damaged_goods dg on g.goods_id = dg.goods_id
    	where 1=1
    	and lng_state = 3
    	<if test="damage_type !=null and damage_type !=''">
    	and damage_type = #{damageType}
    	</if>
    	<if test="warehouse_id !=null and warehouse_id !=''">
    	and warehouse_id = #{warehouseId}
    	</if>
    </select>
    
    
    
    <!-- 新增商品 -->
    <insert id="addGoods" parameterType="com.zero.egg.model.WhGoods" >
     	insert into warehouse_goods 
     	(goods_id,stand_id,warehouse_id,strreal_weight,lng_state,indate,resource_saler) 
     	value
     	(#{goodsId},#{standId},#{warehouseId},#{strrealWeight},#{lngState},#{indate},#{resourceSaler})
    </insert>
    
    <!-- 新增报损信息 -->
    <insert id="addDamageGoods" parameterType="DamageGoods" >
     	insert into damaged_goods 
     	(damage_id,goods_id,damaged_time,damaged_place,damaged_reason,recorder,record_time，damage_type) 
     	value
     	(#{damageId},#{goodsId},#{damagedTime},#{damagedPlace},#{damagedReason},#{recorder},#{recordTime},#{damageType})
    </insert>
    
    
    <!-- 修改商品信息 -->
    <update id="updateGoods" parameterType="com.zero.egg.model.WhGoods">
    	update SYS_Warehouse_Data
    	set
    	<if test="stand_id !=null and stand_id !=''">
    	stand_id=#{standId},
    	</if>
    	<if test="warehous_id !=null and warehous_id !=''">
    	warehouse_id=#{warehouseId},
    	</if>
    	<if test="strreal_weight !=null and strreal_weight !=''">
    	strreal_weight=#{strrealWeight},
    	</if>
    	<if test="lng_state !=null and lng_state !=''">
    	lng_state=#{lngState},
    	</if>
    	<if test="indate !=null and indate !=''">
    	indate=#{indate}
    	</if>
    	<if test="resource_saler !=null and resource_saler !=''">
    	resource_saler=#{resourceSaler}
    	</if>
    	where goods_id=#{goodsId}
    </update>
    
    
    
</mapper>