<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.zero.egg.dao.WhGoodsMapper">

	<resultMap type="com.zero.egg.requestDTO.WhGoodsDTO" id="goodsListMap">
	<id column="goods_id" jdbcType="VARCHAR" property="goodsId"/>
	<result column="stand_id" jdbcType="VARCHAR" property="standId"/>
	<result column="warehouse_id" jdbcType="VARCHAR" property="warehouseId"/>
	<result column="strreal_weight" jdbcType="DECIMAL" property="strrealWeight"/>
	<result column="lng_state" jdbcType="INTEGER" property="lngState"/>
	<result column="indate" jdbcType="DATE" property="indate"/>
	<result column="resource_saler" jdbcType="VARCHAR" property="resourceSaler"/>
	<result property="warehouseId" column="warehouseId"/>  
	<result property="warehouseName" column="warehouseName"/> 
	<result property="weightMin" column="weightMin"/>  
	<result property="weightMax" column="weightMax"/> 
	<result property="standardDetlId" column="standardDetlId"/> 
	<result property="standardId" column="standardId"/> 
	<result property="standarName" column="standarName"/> 
	<result property="eggtypeId" column="eggtypeId"/> 
	<result property="eggtypeName" column="eggtypeName"/>   
	</resultMap>
  


	<!-- 根据id查询商品信息 -->
    <select id="getGoodsInfoById" parameterType="String" resultType="com.zero.egg.model.WhGoods">
         SELECT * FROM warehouse_goods WHERE goods_id=#{goodsId}
    </select>
    
    <!-- 查询商品信息列表 -->
    <select id="GoodsList" parameterType="com.zero.egg.requestDTO.WhGoodsDTO" resultType="com.zero.egg.requestDTO.WhGoodsDTO">
         SELECT p.*,w.warehouse_id as warehouseId,w.warehouse_name as warehouseName ,sdl.id as standardDetlId,sdl.str_weight_min as strWeightMin,
         sdl.str_weight_max as weightMax,sda.id as standardId, sda.str_stand_name as standarName, et.id as eggtypeId ,et.str_eggtype_name as eggtypeName
         FROM warehouse_goods p
         left join warehouse_data w on w.warehouse_id = p.warehouse_id 
         left join sms_standard_detl sdl on p.stand_id = sdl.id
         left join sms_standard_data sda on sda.id = sdl.str_stand_id
         left join sms_eggtype_data et on et.id = sda.str_eggtype_id
         where 1=1 
          <if test="warehouseId !=null and warehouseId !=''">
         and w.warehouse_id = #{warehouseId}
         </if>
          <if test="standardId !=null and standardId !=''">
         and sda.id = #{standardId}
         </if>
          <if test="eggtypeId !=null and eggtypeId !=''">
         and et.id = #{eggtypeId}
         </if>
         <if test="searchValue !=null and searchValue !=''">
         and(
         		warehouse_name LIKE CONCAT(CONCAT('%',#{searchValue}),'%')
         		
       		)
         </if>
    </select>
    
    <!-- 查询损坏的商品信息 -->
    <select id="listDamageGoods" parameterType ="com.zero.egg.requestDTO.DamageGoodsDTO"  resultType="com.zero.egg.requestDTO.DamageGoodsDTO">
    	SELECT d.*,g.goods_id as goodsId,g.goods_name as goodsName,w.warehouse_id as warehouse_id,w.warehouse_name as warehouseName
    	from damaged_goods d
    	left join warehouse_goods g on g.goods_id = d.goods_id
    	left join warehouse_data w on g.warehouse_id = w.warehouse_id
    	where 1=1
    	and g.lng_state = 3
    	<if test="damageType !=null and damageType !=''">
    	and d.damage_type = #{damageType}
    	</if>
    	<if test="warehouseId !=null and warehouseId !=''">
    	and g.warehouse_id = #{warehouseId}
    	</if>
    </select>
    
    
    
    <!-- 新增商品 -->
    <insert id="addGoods" parameterType="com.zero.egg.model.WhGoods" >
     	insert into warehouse_goods 
     	(goods_id,goods_name,stand_id,warehouse_id,strreal_weight,lng_state,indate,resource_saler) 
     	value
     	(#{goodsId},#{goodsName},#{standId},#{warehouseId},#{strrealWeight},#{lngState},#{indate},#{resourceSaler})
    </insert>
    
    <!-- 新增报损信息 -->
    <insert id="addDamageGoods" parameterType="DamageGoods" >
     	insert into damaged_goods 
     	(damage_id,goods_id,damaged_time,damaged_place,damaged_reason,recorder,record_time，damage_type) 
     	value
     	(#{damageId},#{goodsId},#{damagedTime},#{damagedPlace},#{damagedReason},#{recorder},#{recordTime},#{damageType})
    </insert>
    
    
    <!-- 修改商品信息 -->
    <update id="updateGoods" parameterType="com.zero.egg.model.WhGoods">
    	update SYS_Warehouse_Data
    	set
    	<if test="standId !=null and standId !=''">
    	stand_id=#{standId},
    	</if>
    	<if test="goodsName !=null and goodsName !=''">
    	goods_name=#{goodsName},
    	</if>
    	<if test="warehouseId !=null and warehouseId !=''">
    	warehouse_id=#{warehouseId},
    	</if>
    	<if test="strrealWeight !=null and strrealWeight !=''">
    	strreal_weight=#{strrealWeight},
    	</if>
    	<if test="lngState !=null and lngState !=''">
    	lng_state=#{lngState},
    	</if>
    	<if test="indate !=null and indate !=''">
    	indate=#{indate}
    	</if>
    	<if test="resourceSaler !=null and resourceSaler !=''">
    	resource_saler=#{resourceSaler}
    	</if>
    	where goods_id=#{goodsId}
    </update>
    
    
    
</mapper>